<div class="main">
  <div class="header">
    <h4>Logs ({{ (logs | async).length }}) 🌵</h4>
    <button class="toggle-button" (click)="toggleList()">
      <img *ngIf="listExpanded | async" src="assets/icons/chevron-up.svg" />
      <img *ngIf="!(listExpanded | async)" src="assets/icons/chevron-down.svg" />
    </button>
  </div>

  <p *ngIf="!(listExpanded | async)">.: {{ lastLog | async }}</p>
  <div class="expanded-log-container" *ngIf="listExpanded | async">
    <p *ngFor="let log of logs | async">.: {{ log }}</p>
  </div>

</div>